{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3">Modifier son profil</h1>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.country) }}
    {{ form_row(form.city) }}
    {{ form_row(form.addressZipCode) }}
    {{ form_row(form.address) }}
    {{ form_end(form) }}
</div>
{% endblock %}
