{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        <div class="homeBg">
            <div class="homeText">
                <h1>Bienvenue sur le site officiel de MegaCasting !</h1>
                <p>Vous trouverez, en bas de cette page, <br>différentes offres qui peuvent vous intéresser.</p>
            </div>
        </div>

    <div class="container">


        <div class="row-fluid  " >
            <form class="d-flex justify-content-end mb-5" role="search" action="{{ path("app_home_search") }}">
                <input class="form-control me-2" style="width: 250px" type="search" placeholder="Rechercher une offre" aria-label="Search" name="query"><br>
                <button class="btn btn-dark" type="submit">Recherche</button>
            </form>

                <div class="row mb-5" >
                    {% for offre in offres %}
                        <div class="col-sm-3 mb-3 mb-sm-0 " >
                            <div class="card text-center mb-5" >
                            <a class="" style="width: 18rem;" href="{{ path('app_offre', {'id': offre.id}) }}">
                                <div class="card-header text-truncate">
                                   <h5> {{ offre.label }} </h5>
                                </div>

                                <div class="card-body">
                                    <p class="card-title truncate">{{ offre.description }}</p>
                                    <b class="card-text bi-geo-alt">{{ offre.localisation }}</b>
                                </div>
                            </a>
                                <div class="card-footer text-muted">
                                    <p>Offre publié le : {{ offre.parutionDateTime.format('d-m-Y') }}</p>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(offres) }}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

