{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <div class="homeBg">
        <div class="homeText">
            <h1>Bienvenue sur le site officiel de MegaCasting !</h1>
            <p>Vous trouverez, en bas de cette page, <br>différentes offres qui peuvent vous intéresser.</p>
        </div>
    </div>

    <div class="container">


        <div class="row-fluid " >
            <form class="d-flex justify-content-end mb-5" role="search" action="{{ path("app_home_search") }}">
                <input class="form-control me-2" style="width: 250px" type="search" placeholder="Rechercher une offre" aria-label="Search" name="query"><br>
                <button class="btn btn-primary" type="submit">Recherche</button>
            </form>
            {% if recherche == null %}
            <div>
                <h1 align="center">Aucun résultat ne correspond à votre recherche</h1>
            </div>
            {% endif %}
                <div class="row mb-5" >
                    {% for offre in recherche %}
                        <div class="col-sm-3 mb-3 mb-sm-0 " >
                            <div class="card text-center mb-5" >
                                <a class="" style="width: 18rem;" href="{{ path('app_offre', {'id': offre.id}) }}">
                                    <div class="card-header ">
                                        <h5> {{ offre.label }} </h5>
                                    </div>

                                    <div class="card-body">
                                        <p class="card-title">{{ offre.description }}</p>
                                        <p class="card-text bi-geo-alt">{{ offre.localisation }}</p>
                                    </div>
                                </a>
                                <div class="card-footer text-muted">
                                    <p>Offre publié le : {{ offre.parutionDateTime.format('d-m-Y') }}</p>
                                    {% if app.user != null %}
                                        <a href=""><button class="btn btn-dark">Postuler</button></a>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}

