<nav class="navbar navbar-expand-md navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">MegaCasting</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Offres</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                {% if app.user == null %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion  <span class="bi-box-arrow-left"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% endif %}
                {% if app.user != null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_profile') }} "><i class="bi-person" style="font-size: 20px;"></i></a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="bi-box-arrow-right fa-6x" style="font-size: 20px;" aria-label="Déconnexion"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
