{% extends 'base.html.twig' %}

{% block title %}Hello OffreController!{% endblock %}
{% block body %}
    <div class="offerBg">
        <div class="offerText">
            <h1>{{ offre.label }}</h1>
            <b>Date de début :</b>
            {{ offre.offerStartDate|date('d/m/y') }}<br>
            <b>Date de fin :</b>
            {{ offre.offerEndDate|date('d/m/y') }}<br>
            <b>Localisation :</b>
            {{ offre.localisation }}<br>
            <b>Référence :</b>
            {{ offre.reference }}<br>
            <b>Date de publication :</b>
            {{ offre.parutionDateTime|date('d/m/y') }}<br>
            <b>Contract :</b>
            {{ offre.contractTypes.label }}<br>
            <b>Clients :</b>
            {{ offre.clients.firstName }}<br>
        </div>
    </div>


{% endblock %}
