{% extends 'base.html.twig' %}

{% block title %}Hello OffreController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <b>Offre :</b>
        {{ offre.label }}<br>
        <b>Date de début :</b>
        {{ offre.offerStartDate|date('d/m/y') }}<br>
        <b>Date de fin :</b>
        {{ offre.offerEndDate|date('d/m/y') }}<br>
        <b>Localisation :</b>
        {{ offre.localisation }}<br>
        <b>Référence :</b>
        {{ offre.reference }}<br>
        <b>Date de publication :</b>
        {{ offre.parutionDateTime|date('d/m/y') }}<br>
        <b>Contract :</b>
        {{ offre.contractTypes.shortLabel }}<br>
        <b>Client :</b>
        {{ offre.clients.firstName }}<br>
    </div>
{% endblock %}
